.main{
    height: 100%;
    min-height: calc(100vh - 60px);
    padding-top: 80px;
    @media (min-width:721px) {
        padding-top: 100px;
        
    }
}


  /* Adjust the positioning of the elements */
app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Place the header above the side menu */
}

app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; 
}



app-side-menu {
    position: fixed;
    top: 70px; 
    left: -340px; 
    width: 340px;
    height: 100%; 
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    transition: left 0.3s, background-color 0.3s; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


.side-menu-opened app-side-menu {
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); 
}