.main-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--accent-color);
    box-shadow: 0 2px 5px #0000004d;
    position: fixed;
    z-index: 2;
    font-size: 22px;
    width: 100%;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.brand-logo {
    width: 44px;
    height: auto;
    margin-right: 16px;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
}

.menu-image {
    width: 32px;
    height: auto;
}

/* Add this CSS to your styles.css or a dedicated CSS file */

.cart-no {
    position: relative;
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 10px;
    text-align: center;
    margin-left: -14px;
    z-index: 1;
    top: -14px; /* Adjust the value to move the circle up */
    
    
}

.cart-container {
    position: relative;
}
